.add-trip-form {
  position: relative;
  list-style: none;
  padding: 1rem;
  width: 100%;
  margin: 0;
  max-width: none;

  /* remove card styling */
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}

.add-trip-location {
  background-color: #f8d405;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 70px;
  font-weight: bold;
}

.add-trip-location__select {
  margin-bottom: 100px;
  background-color: #b3173f;
  padding: 2px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}

.add-trip-date {
  padding-top: 15px;
  background-color: #f8d405;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 70px;
  font-weight: bold;
}

.add-trip-date__input {
  margin-bottom: 100px;
}

.add-trip-total {
  padding-top: 15px;
  background-color: #f8d405;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 70px;
  font-weight: bold;
}

.add-trip-total__input {
  margin-bottom: 100px;
}

.add-trip-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.add-trip-grid__left,
.add-trip-grid__right {
  text-align: center;
}

.add-trip-checkbox {
  background-color: #f8d405;
  padding: 2px;
  border-radius: 4px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 60px;
  align-items: center;
  font-weight: bold;
}

.add-trip-checkbox__input {
}

.add-trip-submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.add-trip-message {
  width: 370px;
  padding: 15px;
  margin-block-start: 1%;
  margin-inline-start: 40%;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.add-trip-message--error {
  background-color: #f34646;
}

.add-trip-message--success {
  background-color: #57b457;
}